header
    #mobileHeader
        #mobileSection1
            a(href="/")#logo
                img(src="/img/files/logo.svg", alt="")
            #mobileCatalog
                img(src="/img/files/catalog.svg", alt="catalog")
                span Каталог товаров
        .gap
        #mobileSection2
            img(src="/img/files/search.svg", alt="search")#searchIcon
            img(src="/img/files/menu.svg", alt="menu")#menuButton
        div(onclick="app.closeButton('greyBackgound' , 'mobileMenu1' , 'catalog' , 'searchField')")#greyBackgound
        #chooseCityBg
            #chooseCity
                #chooseHeaderSection
                    .location
                    h5 Выберите свой город
                    button
                hr
                #cities
                    input(type="text" placeholder="Укажите город")
                    hr
                    #cityList
                        each i in ['Киев' , 'Донецк' , 'Севостополь' , 'Нью-Йорк' , 'Вроцлав']
                            .city
                                span #{i}
                            hr
        side#mobileMenu1
            #userSection
                a(href="#") Моя учетная запись
                button(onclick="app.closeButton('mobileMenu1' , 'greyBackgound' )")
            hr
            #locationSection
                .locatonSection#mainCity
                    .locationSign
                    p Киев
                .verticalDiv
                .locatonSection#chooseLanguage
                    p RU
                    .arrow
            hr
            #options
                each element in [{text: 'На главную' , link: '#' , icon: 'house.png'} , {text: 'Сравнение товаров' , link: '#' , icon: 'scales.png'} , {text: 'Избранные' , link: '#' , icon: 'favorite.png'} , {text: 'Корзина' , link: '#' , icon: 'bin.png'}]
                    a(href=`${element.link}`).section
                        div(style=`background-image: url('/img/files/${element.icon}')`)
                        span #{element.text}
            #links
                a(href="#") Доставка и оплата
                a(href="#") Гарантия
                a(href="#") Акции
                a(href="#") Магазины
            a(href="")#hotLine
                #mobilePhoneNubmer
                    #helperIcon
                    span 0 800 40 40 40
                #callMeBack
                    span Позвоните сейчас
        nav#catalog
            #catalog2
                #headerOfCatalog2
                    button
                    h3 undefined
                a(href="#").catalogElement
                    span undefined
            #headerOfCatalog
                button(onclick="app.closeButton('catalog' , 'greyBackgound')")
                h3 Каталог товаров
            each i in [{text: 'Телефоны' , img: '/img/files/phone.png' } , {text: 'Ноутбуки' , img: '/img/files/laptop.png' } , {text: 'Часы' , img: '/img/files/watch.png' } , {text: 'ТВ' , img: '/img/files/tv.png' },{text: 'Наушники' , img: '/img/files/earphone.png' }]
                .catalogElement
                    div(style=`background-image: url('${i.img}')`).cotalogPhoto
                    span #{i.text}
                    .toCatalogElement
                hr
        form#searchField
            input(type="text" placeholder="Поиск")#searchText
            input(type="reset" value="")#searchReset
            .verticalDiv
            input(type="submit" value="")#searchSubmit
    #desktopHeader
        nav
            .section1
                a(href="#") Доставка и оплата
                a(href="#") Гарантия
                a(href="#") Акции
                a(href="#") Магазины
            .section2
                #phoneNumber
                    span 0 800 40 40 40
                    .arrow
                    .callMeBlock Перезвоните нам
                #city
                    .locationSign
                    span Киев
                #language
                    span RU
                    .arrow
                #myAccount
                    .user
                    span Личный кабинет
        section
            a(href="/").logo
                img(src="/img/files/logo.svg", alt="logo")
            h3 Каталог товаров
            .search
                form#searchField
                    input(type="text" placeholder="Поиск товаров")#searchText
                    input(type="reset" value="")#searchReset
                    .verticalDiv
                    input(type="submit" value="")#searchSubmit
                .verticalDiv2
            #match
            #favorite
            #bin