header(data-categories=`${header.categories}`)
    #mobileHeader
        #mobileSection1
            a(href="/")#logo
                img(src="/img/files/logo.svg", alt="")
            #mobileCatalog
                img(src="/img/files/catalog.svg", alt="catalog")
                span #{header.lang === 'ua' ? 'Каталог товарів' :'Каталог товаров'}
        .gap
        #mobileSection2
            img(src="/img/files/search.svg", alt="search")#searchIcon
            img(src="/img/files/menu.svg", alt="menu")#menuButton
        div(onclick="app.closeButton('greyBackgound' , 'mobileMenu1' , 'catalog' , 'searchField' , 'panelWithAnotherLanguage')")#greyBackgound
        #chooseCityBg
            #chooseCity
                #chooseHeaderSection
                    .location
                    h5 #{header.lang === 'ua' ? 'Виберіть своє місто' :'Выберите свой город'}
                    button
                hr
                #cities
                    input(type="text" placeholder="Укажите город")
                    hr
                    #cityList
                        each i in header.cities
                            div(data-id=`${i._id}` data-city=`${JSON.stringify(i.city)}`).city
                                span(data-id=`${i._id}` data-city=`${JSON.stringify(i.city)}`) #{i.city[i.city.findIndex(e => e.lang === header.lang)].name}
                                b(data-id=`${i._id}` data-city=`${JSON.stringify(i.city)}`) #{i.name}
                            hr
        side#mobileMenu1
            #userSection
                a(href="#") #{header.lang === 'ua' ? 'Мій обліковий запис' :'Моя учетная запись'}
                button(onclick="app.closeButton('mobileMenu1' , 'greyBackgound' )")
            hr
            #locationSection
                .locatonSection#mainCity
                    .locationSign
                    p #{header.lang === 'ua' ? 'Київ' : 'Киев'}
                .verticalDiv
                .locatonSection#chooseLanguage
                    #panelWithAnotherLanguage
                        span #{header.lang === 'ua' ? 'RU' :'UA'}
                    p #{header.lang === 'ua' ? 'UA' :'RU'}
                    .arrow
            hr
            #options
                each element in [{text: {ru:'На главную' , ua: 'На головну'} , link: '#' , icon: 'house.png'} , {text: {ru:'Сравнение товаров' , ua: 'Порівняння товарів'} , link: '#' , icon: 'scales.png'} , {text:  {ru:'Избранные' , ua: 'Вибрані'}, link: '#' , icon: 'favorite.png'} , {text: { ru:'Корзина' , ua: 'Кошик' } , link: '#' , icon: 'bin.png'}]
                    a(href=`${element.link}`).section
                        div(style=`background-image: url('/img/files/${element.icon}')`)
                        span #{header.lang === 'ua' ? element.text.ua : element.text.ru }
            #links
                a(href="#") #{header.lang === 'ua' ? 'Доставка і оплата' :'Доставка и оплата'}
                a(href="#") #{header.lang === 'ua' ? 'Гарантія' :'Гарантия'}
                a(href="#") #{header.lang === 'ua' ? 'Акції' :'Акции'}
                a(href="#") #{header.lang === 'ua' ? 'Магазини' :'Магазины'}
            #hotLine
                #mobilePhoneNubmer
                    #helperIcon
                    span 0 800 40 40 40
                #callMeBack
                    span #{header.lang === 'ua' ? 'Зателефонуйте зараз' :'Позвоните сейчас'}
        #hotLineBg
            #hotLineWindow
                button.closeButton
                h3 #{header.lang === 'ua' ? 'Ми передзвоним' :'Мы перезвоним'}
                p #{header.lang === 'ua' ? 'Вкажіть свій номер телефону і ми вам зателефонуємо найближчим часом' :'Укажите свой номер телефона и мы вам перезвоним в ближайшее время'}
                include underlined_input.pug
                include red_btn.pug
                +underlinedInput('name' , '+38(0XX) XXX-XX-XX' , 'Номер телефона' , 'tel')
                +redButton('Перезвоните мне')
        nav#catalog
            #catalog2
                #headerOfCatalog2
                    button
                    h3 undefined
                a(href="#").catalogElement
                    span undefined
            #headerOfCatalog
                button(onclick="app.closeButton('catalog' , 'greyBackgound')")
                h3 #{header.lang === 'ua' ? 'Каталог товарів' :'Каталог товаров'}
            each i in JSON.parse(header.categories)
                div(data-category=`${i._id}`).catalogElement
                    div(style=`background-image: url('/img/files/${i.img}')` data-category=`${i._id}`).cotalogPhoto
                    span(data-category=`${i._id}`) #{i.name[i.name.findIndex(a => a.lang === header.lang)].name}
                    div(data-category=`${i._id}`).toCatalogElement
                hr
        form#searchField
            input(type="text" placeholder="Поиск")#searchText
            input(type="reset" value="")#searchReset
            .verticalDiv
            input(type="submit" value="")#searchSubmit
            #resultsOfSearch
                h3 #{header.lang === 'ua' ? 'Результати пошуку' :'Результаты поиска' }
                #resultItems
                    p #{header.lang === 'ua' ? 'Результатів немає' : 'Результатов нет' }
    #desktopHeader
        nav
            .section1
                a(href="#") #{header.lang === 'ua' ? 'Доставка і оплата' :'Доставка и оплата'}
                a(href="#") #{header.lang === 'ua' ? 'Гарантія' :'Гарантия'}
                a(href="#") #{header.lang === 'ua' ? 'Акції' :'Акции'}
                a(href="#") #{header.lang === 'ua' ? 'Магазини' :'Магазины'}
            .section2
                #phoneNumber
                    span 0 800 40 40 40
                    .arrow
                    .callMeBlock #{header.lang === 'ua' ? 'Ми передзвоним' :'Мы перезвоним'}
                #city
                    .locationSign
                    span #{header.lang === 'ua' ? 'Київ' : 'Киев'}
                #language
                    span #{header.lang === 'ua' ? 'UA' :'RU'}
                    .arrow
                #myAccount
                    .user
                    span #{header.lang === 'ua' ? 'Мій обліковий запис' :'Моя учетная запись'}
        section
            a(href="/").logo
                img(src="/img/files/logo.svg", alt="logo")
            h3#openCatalog #{header.lang === 'ua' ? 'Каталог товарів' :'Каталог товаров'}
            #catalog
              #productTopic
                each i in JSON.parse(header.categories)
                  div(data-category=`${i._id}`).catalogElement
                      div(style=`background-image: url('/img/files/${i.img}')` data-category=`${i._id}`).cotalogPhoto
                      span(data-category=`${i._id}`) #{i.name[i.name.findIndex(a => a.lang === header.lang)].name}
                      div(data-category=`${i._id}`).toCatalogElement
              #products
                ._products
                  each i in JSON.parse(header.categories)[0].categories
                    if i.position === 1
                      .product
                        h3 #{i.name[i.name.findIndex(e => e.lang === header.lang)].name}
                        each e in i.companies
                            a(href=`${e.link}`) #{e.name}
                ._products
                  each i in JSON.parse(header.categories)[0].categories
                    if i.position === 2
                      .product
                        h3 #{i.name[i.name.findIndex(e => e.lang === header.lang)].name}
                        each e in i.companies
                            a(href=`${e.link}`) #{e.name}
                ._products
                  each i in JSON.parse(header.categories)[0].categories
                    if i.position === 3
                      .product
                        h3 #{i.name[i.name.findIndex(e => e.lang === header.lang)].name}
                        each e in i.companies
                            a(href=`${e.link}`) #{e.name}
            .search
                form#searchField
                    input(type="text" placeholder="Поиск товаров")#searchText
                    input(type="reset" value="")#searchReset
                    .verticalDiv
                    input(type="submit" value="")#searchSubmit
                .verticalDiv2
            #match
            #favorite
            #bin