header
    #mobileHeader
        #mobileSection1
            a(href="/")#logo
                img(src="/img/files/logo.svg", alt="")
            #mobileCatalog
                img(src="/img/files/catalog.svg", alt="catalog")
                span Каталог товаров
        .gap
        #mobileSection2
            img(src="/img/files/search.svg", alt="search")#searchIcon
            img(src="/img/files/menu.svg", alt="menu")#menuButton
        div(onclick="app.closeButton('greyBackgound' , 'mobileMenu1' , 'catalog' , 'searchField')")#greyBackgound
        side#mobileMenu1
            #userSection
                a(href="#") Моя учетная запись
                button(onclick="app.closeButton('mobileMenu1' , 'greyBackgound' )")
            hr
            #locationSection
                .locatonSection#mainCity
                    .locationSign
                    p Киев
                .verticalDiv
                .locatonSection#chooseLanguage
                    p RU
                    .arrow
            hr
            #options
                each element in [{text: 'На главную' , link: '#' , icon: 'house.png'} , {text: 'Сравнение товаров' , link: '#' , icon: 'scales.png'} , {text: 'Избранные' , link: '#' , icon: 'favorite.png'} , {text: 'Корзина' , link: '#' , icon: 'bin.png'}]
                    a(href=`${element.link}`).section
                        div(style=`background-image: url('/img/files/${element.icon}')`)
                        span #{element.text}
            #links
                a(href="#") Доставка и оплата
                a(href="#") Гарантия
                a(href="#") Акции
                a(href="#") Магазины
            a(href="")#hotLine
                #mobilePhoneNubmer
                    #helperIcon
                    span 0 800 40 40 40
                #callMeBack
                    span Позвоните сейчас
        nav#catalog
            #headerOfCatalog
                button(onclick="app.closeButton('catalog' , 'greyBackgound')")
                h3 Каталог товаров
            each i in [{text: 'Телефоны' , img: '/img/files/phone.png' , link: '#'} , {text: 'Ноутбуки , планшеты , ПК' , img: '/img/files/laptop.png' , link: '#'} , {text: 'Часы' , img: '/img/files/watch.png' , link: '#'} , {text: 'ТВ' , img: '/img/files/tv.png' , link: '#'},{text: 'Наушники' , img: '/img/files/earphone.png' , link: '#'}]
                a(href=`${i.link}`).catalogElement
                    div(style=`background-image: url('${i.img}')`).cotalogPhoto
                    span #{i.text}
                    .toCatalogElement
                hr
        form#searchField
            input(type="text" placeholder="Поиск")#searchText
            input(type="reset" value="")#searchReset
            .verticalDiv
            input(type="submit" value="")#searchSubmit
    #desktopHeader
        section
        section